<div class="navbar-container">
  <div class="w-full bg-pink-200 h-15 flex items-center justify-between px-4">
    <div class="flex items-center space-x-4">
        <app-euro-note
        width="60px"
        height="auto"
        customClass="euro-note-small">
      </app-euro-note>
      <h1 class="text-xl font-bold text-black-800">Finance App</h1>     
    </div>
    <nav class="flex space-x-4 items-center">
      <a routerLink="/" class="text-amber-800 hover:text-amber-600">Transactions</a>
      
      <div *ngIf="user()?.role === 'admin'">
      <a routerLink="/admin" class="text-amber-800 hover:text-amber-600">Reports</a>
      </div>
      <button
        (click)="logout()"
        class="bg-red-500 hover:bg-red-600 text-white px-3 py-1 rounded text-sm font-medium transition-colors">
        Logout
      </button>
    </nav>
  </div>
</div>