<div class="login-container">
  <div id="loginform">
    <h2 id="title">S'identifier</h2>
    <p-floatlabel class="login-field">
      <input pInputText [formControl]="email" id="email" />
      <label for="email">Email</label>
    </p-floatlabel>
    <p-floatlabel class="login-field">
      <p-password
        [formControl]="password"
        [toggleMask]="true"
        [feedback]="false"
        styleClass="w-full"
        inputId="password"
        inputStyleClass="w-full">
      </p-password>
      <label for="password">Enter your password</label>
    </p-floatlabel>
    <p-button
      (click)="onSubmit()"
      label="se connecter"
      styleClass="login-submit-btn w-full">
    </p-button>
  </div>
</div>